#Goblin{
  display: none;
}

#HobGoblin{
  display: none;
}

#Ogre{
  display: none;
}

#HighOgre{
  display: none;
}

#Deer{
  display: none;
}

#Rabbit{
  display: none;
}

#Wolf{
  display: none;
}
