/* Creatures */
#Slime{
  display: none;
}

#Goblin{
  display: none;
}

#HobGoblin{
  display: none;
}

#Ogre{
  display: none;
}

#HighOgre{
  display: none;
}

#Ghoul{
  display:none;
}

#Vampire{
  display: none;
}
/* Animals */
#Deer{
  display: none;
}

#Rabbit{
  display: none;
}

#Wolf{
  display: none;
}

#Bear{
  display: none;
}
